@keyframes bg_transition {
	0% {
		background: gradient(50);
	}

	10% {
		background: gradient(73);
	}

	20% {
		background: gradient(96);
	}

	30% {
		background: gradient(119);
	}

	40% {
		background: gradient(142);
	}

	50% {
		background: gradient(165);
	}

	60% {
		background: gradient(178);
	}

	70% {
		background: gradient(201);
	}

	80% {
		background: gradient(224);
	}

	90% {
		background: gradient(247);
	}

	100% {
		background: gradient(250);
	}
}
